@import url('https://fonts.googleapis.com/css?family=Oswald:500');
.ap-anasayfa{
    background-color: #0F1626;
    width: 100%;
    background-position: center;
    background-size:cover;
    
}
.ap-contact{
    background-image:url(https://www.instagram.com/p/Chr-EsbjI9t/)
}
*{
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}
.eight-rem{
    font-size: 5vw;
}
.five-rem{
    font-size: 3vw;
}
.three-rem
.p-med{
    font-size: 1.3vw;
    letter-spacing: 0.075rem;
}
.text-center {
    text-align: center;
}