
#anasayfa p{
    letter-spacing: 0.09rem;
    font-size: 2.5rem;
  }
  #anasayfa h1{
    letter-spacing: 0.09rem;
    font-size: 4rem;
  }
  #anasayfa h2{
    letter-spacing: 0.09rem;
    font-size: 3rem;
  }
  .button-86{
    height: 30px;
    width: 65px;
    font-size: 2rem;
  }
  #anasayfa img {
    max-width: 165px;
  }
  #about p{
    margin: 2rem;
    font-size: 1rem;
    letter-spacing: 0.060rem;
}
#about .container .box {
  width: 15rem;
  height: 15rem;
}
#about img{
  width: 15rem;
  height: 15rem;
}
.contact-form h1{
  font-weight: 500;
  border: #0F1626;
  font-size: 2.5rem;  

}
.contact-form{
  flex-grow: 0;
  background-color: #0f162635;
  height: 100%;
  width: 100%;
}
.container-contact form input{
  font-size: 1rem;
  margin: 0.3rem;
  height: 20px;
  width: 105px;
  text-align: center;
}
.container-contact form button{
  width: 100px;
  height: 20px;
  font-size: 1rem;
}
.container-contact{
  margin-top: 2rem;
  width: 90%;
  height: 100%;
}
.contact-img{
display: none;
}