.toggle-button{
    display: flex;
}
.navbar-links {
    display: none;
    width: 100%;
}
.navbar {
    flex-direction: column;
}
.navbar-links ul{
    margin-top: 3rem;
    flex-direction: column;
    width: 100%;
}
.navbar-links li {
    text-align: center;
}
.navbar-links li a {
    padding: .5rem 1rem;
}
.navbar-links.active{
    display: flex;
}
#anasayfa img{
    max-width: 60%;
}

  .left-icon{
    top: 120 ;
  }
  .right-icon{
    top: 120;
  }
  .row{
    flex-direction: column;
  }
  #anasayfa .col-sm-5{
    justify-content: center;
    align-items: center;
  }
  #anasayfa .col-sm-5 img{
    margin: auto;
    max-width: 200px;
  }
  .img-slider .navigation{
    z-index:2;
    position: absolute;
    display:flex;
    top: 450px;
    left:50%;
    transform: translateX(-50%);
    background-color: #ff543d50;
    width: 250px;
    justify-content: space-around;
  }
  .img-slider .navigation .btn{
    margin: 10px;
    cursor: inherit;
    padding: 0;
    border-radius: 100%;
  }
  .index-footer{
    top: auto;
    bottom: -760px !important;
  }
  .content h2 {
    font-size: 1.5rem;
    letter-spacing: 1px;
  }
  
  .content span {
    font-size: 1.1rem;
    letter-spacing: 1.2px;
  }
  #about .container .box:hover .imgBox {
    transform: translate(-2rem, -1.8rem);
  }
  #about .container .box:hover .content {
    transform: translate(2rem, 4.2rem);
  }